@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&family=IBM+Plex+Mono:wght@300;400&family=Cormorant+Garamond:wght@300;400&display=swap");

body {
    font-family:"Manrope",sans-serif!important;
}

h1,
.profile-head .name {
    font-family:"Cormorant Garamond",serif;
}

small,
.meta,
.entry {
    font-family:"IBM Plex Mono",monospace;
}
